.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.TextArea {
    width: 70%;
    height: 300px;
}

.mainBtnDiv {
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding-bottom: 10px;
}

.upercase {
    text-transform: uppercase;
}

.lowercase {
    text-transform: lowercase;
}

.imagecss {
    max-width: 500px;
    max-height: 400px;
    object-fit: cover;
}

.btnCSS {
    margin: 0 5px;
    cursor: pointer;
    padding: 10px 20px;
    background-color: beige;
    border-radius: 13px;
    font-family: Arial, Helvetica, sans-serif;
}